<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <%= simple_form_for(:session, url: login_path) do |f| %>
      <%= f.input :email, label: "El. pašto adresas" %>
      <%= f.input :password, label: "Slaptažodis" %>
      <div class="d-flex justify-content-center">
        <%= f.button :submit, "Prisijungti"%>
      </div>
    <% end %>
    <p>Naujas vartotojas? <%= link_to "Registruotis!", signup_path %></p>
  </div>
</div>