<div class="row mt-5">
  <div class="col-md-6 offset-md-3">
    <%= simple_form_for @user do |f| %>
      <%= f.input :name, label: "Naudotojo vardas" %>
      <%= f.input :email, label: "El. pašto adresas" %>
      <%= f.input :password, label: "Slaptažodis" %>
      <%= f.input :password_confirmation, label: "Pakartoti slaptažodį" %>
      <div class="d-flex justify-content-center">
        <%= f.button :submit, "Registruotis!"%>
      </div>
    <% end %>
  </div>
</div>

